/* PAGE HISTORIQUE D'ACHAT */
main {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.gg-history-card {
  background-color: #222222;
  border-radius: 12px;
  padding: 30px 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  box-sizing: border-box;
}

h1 {
    text-align: left;
    margin-bottom: 30px;
    font-size: 32px;
}

.gg-history-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

/* en-têtes du tableau */
.gg-history-table th {
  text-align: left;
  color: #e0e0e0;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 15px;
  border-bottom: 1px solid #555;
}

/* cellules du tableau */
.gg-history-table td {
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font-size: 14px;
  vertical-align: middle;
}

.gg-history-table tbody tr:last-child td {
  border-bottom: none;
  padding-bottom: 0;
}

/* Historique d'achat (Mobile) */
@media (max-width: 600px) {
  .gg-history-card {
    padding: 20px;
  }
  .gg-history-table th,
  .gg-history-table td {
    font-size: 12px;
  }
}
